$background-color: #fffcee;
$btn-bg-color: #031927;
$btn-font-color: #fffcee;
$btn-hvr-bg-color: #d62828;
$btn-hvr-font-color: #fffcee;
$main-heading-color: #d62828;
$detail-font-color: white;
$search-box-bg-color: white;
$gen-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
