$gen_background_color: #242630;
$gen_font_color: lightgray;
$gen_brdr_color: rgb(173, 173, 173);
$main_color: #ff4b4b;

$background-color: $gen_background_color;
$genre-bg-color: $main_color;
$genre-font-color: $gen_font_color;
$background-color: $gen_background_color;
$btn-bg-color: $gen_background_color;
$btn-font-color: $gen_font_color;
$btn-hvr-bg-color: $main_color;
$btn-hvr-font-color: $gen_font_color;
$btn-brdr-color: $gen_brdr_color;
$main-heading-color: $main_color;
$detail-font-color: $gen_font_color;
$search-box-bg-color: $gen_background_color;
$search-box-brdr-color: $gen_brdr_color;
$search-box-font-color: $gen_font_color;
$sorting-bg-color: $gen_background_color;
$sorting-font-color: $gen_font_color;
$sorting-brdr-color: $gen_brdr_color;
$gen-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
